<div class="container"><h1>Cocktails List !</h1>
  <div class="flex-wrap d-flex justify-content-between align-content-start">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div>
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title"><%= cocktail.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'New cocktail', new_cocktail_path %>

</div>
