<div class="container"><h1>Cocktails List !</h1>
  <div class="flex-wrap d-flex justify-content-between align-content-start">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div>
          <div class="card card-width">
            <%= cl_image_tag cocktail.photo.key, height: 350, crop: :fill %>
            <h5 class="card-title text-center"><%= cocktail.name %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-success" %>

</div>
