// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
    text-decoration: none;
}

.card-link {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
    z-index: 2;
    background: black;
    opacity: 0;
}
